*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}
a {
    text-decoration: none;
}
/*page basic style*/
/*text*/
.text-primary {
    color: #93cb52;
}
.text-center {
    text-align: center;
}
/*padding*/
.py-1 {
    padding: 1rem 0;
}
.p-1 {
    padding: 1rem;
}
.btn {
    display: inline-block;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn-primary {
    background: #93cb52;
    color: #fff;
}
.btn-primary:hover {
    background: #7ab436;
}
.btn-dark {
    background: #333;
    color: #fff;
}
.btn-dark:hover {
    background: #444;
}
/*background*/
.bg-light {
    background: #f4f4f4;
    color: #333;
}
.bg-dark {
    background: #333;
    color: #fff;
}
.bg-primary {
    background: #93cb52;
    color: #333;
}
/*navbar*/
#navbar {
    background: #333;
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}
/*showcase*/
#showcase {
    background: #333 url('../img/showcase.jpg');
    height: 100vh;
    color: #fff;
}
#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
/*LARGE heading*/
.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
/*MEDIUM heading*/
.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.par {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
/*what*/
#what .items {
    display: flex;
}
#what .items .item {
    flex: 1;
}
#what .items .item i {
    background: #93cb52;
    border-radius: 50%;
    margin-bottom: 1rem;
}
/*who*/
#who {
    display: flex;
}
#who div {
    flex: 1;
}
#who .who-img {
    background: url('../img/people.jpg') no-repeat center center/cover;
}
#who ul {
    list-style: none;
    margin: 0.5rem 0;
}
#who ul li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}
/*clients*/
#clients .items {
    display: flex;
    justify-content: center;
}
#clients .items img {
    display: block;
    width: 60%;
    margin: auto;
}
/*contact*/
#contact {
    display: flex;
}
#contact .contact,
#contact .contact-map {
    flex: 1;
}
#contact .contact-form .form-group {
    margin: 0.75rem;
}
#contact .contact-form .form-group label {
    display: block;
}
#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: none;
}
#contact .contact-form .form-group input:focus,
#contact .contact-form .form-group textarea:focus {
    outline: none;
    border: #333 solid 1px;
}